:root {
    --text-primary-color: #31363F;
    --text-secondary-color: #EEEEEE;
    --text-low-accent-color: rgba(49, 54, 63, 0.75);
    --background-main-color: #fff;
    --background-accent-color: #31363F;
    --border-color: #31363F;
    --modal-overlay-color: rgba(0, 0, 0, 0.9);
    --modal-close-button-color: #31363F;
    --modal-submit-button-color: #EEEEEE;
    --modal-submit-button-focus-color: #31363F;
    --active-route-button-color: rgba(238,238,238, 0.75);
    --default-global-category-button-color: #EEEEEE;
    --active-global-category-button-color: #31363F;
    --loader-background-color: #EEEEEE;
    --loader-element-primary-color: #31363F;
    --loader-element-secondary-color: rgba(255, 255, 255, 0);
    --loader-element-shadow-color: #5d5d5d;
}